<%- include('layout/nav.ejs') %>
    <%- include('layout/header.ejs') %>
    <br />
    <h1>
        Daftar Kontak
    </h1>
    <br />
    <% if (isEmpty) { %>
        Data Contact Tidak Tersedia!!
    </h3>
    <% } else { %>
    <ul>
        <% contacts.forEach(contact => { %>
        <li>Nama: <%= contact.nama %></li>
        <li>Nomor HP: <%= contact.hp %></li>
        <br />
        <% }); %>
    </ul>
    <% } %>
    <%- include('layout/footer.ejs') %>