<div class="container text-center">
  <h1>Data Daftar Kontak</h1>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">No.Telepon</th>
            <!--th scope="col">Email</th-->
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- menampilkan pesan message dari flash -->
    <% if (msg.length !== 0) { %>
      <div class="alert alert-success" role="alert"><%= msg %></div>
      <% } %>
      <!-- Kondisi jika data contact kosong, maka akan tampil pesan data tidak tersedia -->
      <% if (contacts.length === 0) { %>
      <div class="alert alert-warning" role="alert">Data tidak tersedia</div>
      <% } %>
          <!-- Iterasi melalui daftar kontak menggunakan forEach -->
          <% contacts.forEach((contact, index) => { index++ %>
          <tr>
            <th scope="row"><%= index++ %></th>
            <td><%= contact.nama %></td>
            <td><%= contact.hp %></td>
            <!--td><%= contact.email %></td-->
            <td>
              <a href="/contact/update/<%= contact.nama %>" class="btn btn-warning badge rounded-pill";">Edit</a>
              <a href="/contact/<%= contact.nama %>" class="btn btn-primary badge rounded-pill"><i class="bi bi-info-circle"></i> Detail</a>
              <a href="/contact/delete/<%= contact.nama %>" class="btn btn-danger badge rounded-pill" onclick="return confirm('Apakah Anda yakin ingin menghapus?');">Hapus</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <a href="/contact/add" class="btn btn-primary">Tambah Data</a>
    </div>
  </div>
</div>
